.pokemons {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pokemon {
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
